<html>

<head>
</head>

<body>

<h3> Project Description </h3>

<h6> How effective are political web ads? Is the Internet a worthwhile place for campaigns to spend their advertising money? To try to answer this question, I looked at Google political ads run by the 2020 Democratic presidential candidates over 2019. The data comes from the <a href = "https://transparencyreport.google.com/political-ads/home">Google Political Advertising Transparency Report</a>, which records all political ads run on the website, along with information on the ads themselves, the advertisers, and the political campaigns. </h6>

<h6> To see how these political ads run on Google can affect candidates' polling results, I combined the ad data with Democratic primary poll results over the year. I focused on primary polls, rather than general election polls, to get a better sense of how Democratic candidates were faring against each other and whether ads were raising their national profiles. I got this data from <a href = "https://projects.fivethirtyeight.com/polls/president-primary-d/">FiveThirtyEight</a>.</h6>

<h6> The code and data for this project can be found at <a href = "https://github.com/michgao87/political-ads-project">my Github</a>.</h6>

<h3> Me </h3>

<h6> I'm Michelle Gao, a Harvard junior studying government and statistics. I'm interested in the ways data can provide new insight into old questions.</h6>

</body>
</html>
