<html>

<body>

<h3> Results </h3>

<h6> The linear relationship between Google ad spending and polling results varies widely by candidate. For candidates still in the race, the association is greatest by far for Elizabeth Warren, followed by Andrew Yang and Pete Buttigieg. Perhaps these candidates (certainly Buttigieg and Yang) benefited from greater exposure to national audiences through Google. But lack of national exposure is not a certain predictor of ad effectivity because many other unknowns, such as Tulsi Gabbard, had much smaller ad spend coefficients. Interestingly, there was a slight neegative association between ad spending and polling results for Joe Biden and Cory Booker, suggesting that investing in Google political ads might not be the best strategy for them. </h6>

<h6> The variation in relationships between Google ad spending and polling results suggests that, naturally, there are many more factors involved in determining the effectiveness of ads for different candidates. Ads, and especially ads on a certain medium such as Google (or more broadly, the Internet), are just one facet of modern candidates' campaign strategies. </h6>

</body>
</html>
