<html>

<body>

<h3> Model Specifications </h3>

<h6> Both polling results and ad spend are aggregated by week. </h6>

<h6> Spend_USD: Amount of money spent on ads that week (in units of $1000). In the original dataset, this variable was given in pure dollars. I divided by $1000 to make the regression coefficient easier to interpret. I.e., the regression coefficient of 0.03 means that an increase in $1000 of weekly ad spend is associated with an increase of 0.03 percentage points in polling results. </h6>

<h6> Avg Polling Results: FiveThirtyEight provides results of many polls over different dates. I averaged each candidate's performance over polls that ended in the same week. </h6>

<h6> Regression Model: The predictor variable is ad spend (Spend_USD). The response variable is average polling result. I ran a simple linear regression. </h6>

</body>
</html>
