<html>

<body>

<h3> Results </h3>

<h6> There is a positive linear relationship between ad spending and polling results, as expected. Across all Democratic candidates, an increase of $1000 in weekly ad spend is associated with an increase of .035 percentage points in the week's primary polls. </h6>

</body>
</html>
