<html>

<head>
</head>

<body>

<h3> Data </h3>

<h6> I am looking at the political ads run by the 2020 Democratic presidential candidates over 2019. The data comes from the <a href = "https://transparencyreport.google.com/political-ads/home">Google Political Advertising Transparency Report</a>, which records all political ads run on the website, along with information on the ads themselves, the advertisers, and the political campaigns.</h6>

<h3> Me </h3>

<h6> I'm Michelle Gao, a Harvard junior studying government and statistics. I'm interested in the ways data can provide new insight into old questions.

</body>
</html>
